10.1.1.45.1793.pdf
1930-8337_2009_2_199.pdf
81da5f2d7d6de43a418500b16f5841b1de4f.pdf
*.log
*.aux
*.out
*.gz
*.toc
frechet.pdf
least_squares_SP.pdf
POT94.pdf
The Pantheon of Derivatives.pdf
y2016_no2(122)_art02_chapko_ivanyshyn_kanafotskyi.pdf
*.idx
Theorem&Derivative.pdf
